<ion-header>
  <ion-navbar>
    <ion-title>
      Backlog List
    </ion-title>
  </ion-navbar>
</ion-header>

<!--
<ion-content>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
      <ion-icon name="ionic" item-start></ion-icon>
      @ionicframework
    </ion-item>
  </ion-list>
</ion-content>
-->
<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <!--
      <ion-icon [name]="item.icon" item-start></ion-icon>
      -->
      {{item.title}}
      <div class="item-note" item-end>
        {{item.id}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>