<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><h3>KanbanTODO</h3></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- PART2  Brief User information   -->
  <ion-card class="mycard" *ngIf="!showLoginPage">
        

      <p>
        Dieses <strong><i>Mini-Kanban</i></strong> besteht nur aus <strong><i>2 Boards</i></strong>. 
      </p>
      <div><br></div>
      <p>
          Im <strong><i>Backlog</i></strong> werden alle Aufgaben erfasst, priorisiert und kategorisiert. 
      </p>
      <p>
          In der <strong><i>ToDo</i></strong> -liste sollen pro Tag nur wenige Aufgaben (aus dem Backlog) stehen (2-4). 
      </p>
      <div> <br></div>
      <p>
        Sind alle Aufgaben aus der ToDo-liste erledigt, ist der Tagesplan abgeschlossen 
        <ion-icon name="thumbs-up" color="secondary"></ion-icon>
      </p>
      <div> <br></div>
      <p>
        Details im HowTo ! 
        <ion-icon name="information-circle" color="primary"></ion-icon>
      </p>
      
      <br><br>
      <div style="color:blue;padding: 3px;">
      <br>Hallo &nbsp; <b>{{userName}}</b> &nbsp;&nbsp;&nbsp;&nbsp;
      <button ion-button small float-right (click)="gotoLoginPageClicked()" >Login ändern</button>
      </div>
     <!--  {{userId}} -->
  </ion-card>
   <!--  --> 

<!-- PART1  User Login /authentication -->
  <!-- View 1  User Logout -->
  <ion-card *ngIf="showLoginPage && userIsLoggedIn">   
    <ion-item >

        Du bist eingeloggt als: &nbsp; <b>{{userName}}</b>
        <br><br>
        <button ion-button  (click)="logoutClicked()" type="submit">Ausloggen ?</button>
        <button ion-button  (click)="exitLoginPageClicked()" type="submit">Exit</button>

    </ion-item>
  </ion-card>

  <!-- View 2  User Login-->
  <ion-card *ngIf="showLoginPage && !userIsLoggedIn && !showNewAccountView">
    <form [formGroup]="simple_form"  >
      <ion-item>
        <b>Bitte log dich ein !</b>
      </ion-item>
      <br>
<!-- 
      <ion-item>
        <ion-label floating >Username</ion-label>
        <ion-input type="text" formControlName="name" class="form-controll" required></ion-input>
      </ion-item>
 -->
      <ion-item>
        <ion-label floating color = "danger">e-mail <i>&nbsp;( * required )</i></ion-label>
        <ion-input type="text" formControlName="mail" class="form-controll" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating color = "danger">Passwort<i>&nbsp;( * required )</i></ion-label>
        <ion-input type="password" formControlName="pwd" class="form-controll" required></ion-input>
      </ion-item>
      <br>

      <button ion-button [disabled]="!simple_form.valid" (click)="loginClicked(simple_form.value)" type="submit">Login</button>
      <button ion-button item-right (click)="newAccounViewClicked()" type="submit">Neuer Account</button>
      <button ion-button item-right (click)="pwdForgottenClicked(simple_form.value)" type="submit">Passwort Vergessen ?</button>
  
    </form>



    <ion-item>
    </ion-item>

    <ion-item>
        <ion-label  >Eingeloggt bleiben</ion-label>
        <ion-checkbox  item-right [(ngModel)]="stayLoggedIn" (click)="stayLoggedInChange()"></ion-checkbox>
    </ion-item>
  </ion-card>

  <!-- View 3  New Account creation -->
  <ion-card *ngIf="showLoginPage && !userIsLoggedIn && showNewAccountView">
      <form [formGroup]="simple_form"  >
      <ion-item>
        <b>Accounterstellung</b>
      </ion-item>
      <br>
      <ion-item>
          <ion-label floating color = "danger">Username<i>&nbsp;( * required )</i></ion-label>
          <ion-input type="text" formControlName="name" class="form-controll" required></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating color = "danger">e-mail<i>&nbsp;( * required )</i></ion-label>
          <ion-input type="text" formControlName="mail" class="form-controll" required></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating color = "danger">Passwort<i>&nbsp;( * required )</i></ion-label>
          <ion-input type="password" formControlName="pwd" class="form-controll" required></ion-input>
        </ion-item>
        <br>
  
        <button ion-button [disabled]="!simple_form.valid" (click)="addAccountClicked(simple_form.value)" type="submit">Neuer Account</button>
        <button ion-button item-right (click)="newAccountViewExitClicked()" type="submit">Exit</button>
  
      </form>
  
  
  
      <ion-item>
      </ion-item>
  
      <ion-item>
          <ion-label  >Eingeloggt bleiben</ion-label>
          <ion-checkbox  item-right [(ngModel)]="stayLoggedIn" (click)="stayLoggedInChange()"></ion-checkbox>
      </ion-item>
    </ion-card>
  
  <!--  -->

 
   <!--
  <button ion-button full  (click)="add(simple_form.value)" >Add</button>
-->


 
</ion-content>
